.app {
  background-color: #466896;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Arial, sans-serif;

  .app-title {
    font-size: 50px;
  }
}